form {
  width: 40%;
  margin: auto;
  margin-bottom: 18px;
}
form > select {
  width: 100%;
  height: 40px;
  margin-bottom: 8px;
  padding: 4px;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="select"] {
  width: 100%;
  height: 40px;
  outline: none;
  margin-bottom: 8px;
  padding: 4px;
  border: 1px solid grey;
  border-top: none;
  border-left: none;
  border-right: none;
}
button {
  width: 100%;
  height: 38px;
  margin-top: 5px;
  border-bottom: 1px solid grey;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}
input:focus {
  background-color: white;
}
select {
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
}
.registrationInfo {
  text-align: center;
  word-spacing: 2px;
}
.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 18px;
  text-align: center;
  padding: 20px 0;
  margin-left: 70%;
}
.navigation li {
  list-style: none;
  display: inline;
  padding: 0 20px 0 20px;
}
.navigation li a {
  text-decoration: none;
}
.navigation a:hover {
  color: silver;
}
